<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>date</key>
		<string>15/6/2013</string>
		<key>artist</key>
		<string>Bill Frisell</string>
		<key>qr</key>
		<string>qrcode.png</string>
	</dict>
	<dict>
        <key>id</key>
		<integer>1</integer>
		<key>date</key>
		<string>15/6/2013</string>
		<key>artist</key>
		<string>Keyshia Cole</string>
		<key>qr</key>
		<string>qrcode.png</string>
	</dict>
	<dict>
        <key>id</key>
		<integer>2</integer>
		<key>date</key>
		<string>15/6/2013</string>
		<key>artist</key>
		<string>Chrisette Michele</string>
		<key>qr</key>
		<string>qrcode.png</string>
	</dict>
	<dict>
        <key>id</key>
		<integer>3</integer>
		<key>date</key>
		<string>16/6/2013</string>
		<key>artist</key>
		<string>Mateo</string>
		<key>qr</key>
		<string>qrcode.png</string>
	</dict>
	<dict>
        <key>id</key>
		<integer>4</integer>
		<key>date</key>
		<string>16/6/2013</string>
		<key>artist</key>
		<string>Andras Schiff</string>
		<key>qr</key>
		<string>qrcode.png</string>
	</dict>
	<dict>
        <key>id</key>
		<integer>5</integer>
		<key>date</key>
		<string>17/6/2013</string>
		<key>artist</key>
		<string>Queensryche</string>
		<key>qr</key>
		<string>qrcode.png</string>
	</dict>
	<dict>
        <key>id</key>
		<integer>6</integer>
		<key>date</key>
		<string>18/6/2013</string>
		<key>artist</key>
		<string>The Voodoos</string>
		<key>qr</key>
		<string>qrcode.png</string>
	</dict>
	<dict>
        <key>id</key>
		<integer>7</integer>
		<key>date</key>
		<string>18/6/2013</string>
		<key>artist</key>
		<string>Katchafire</string>
		<key>qr</key>
		<string>qrcode.png</string>
	</dict>
	<dict>
        <key>id</key>
		<integer>8</integer>
		<key>date</key>
		<string>18/6/2013</string>
		<key>artist</key>
		<string>Maoli</string>
		<key>qr</key>
		<string>qrcode.png</string>
	</dict>
	<dict>
        <key>id</key>
		<integer>9</integer>
		<key>date</key>
		<string>18/6/2013</string>
		<key>artist</key>
		<string>Sila</string>
		<key>qr</key>
		<string>qrcode.png</string>
	</dict>
	<dict>
        <key>id</key>
		<integer>10</integer>
		<key>date</key>
		<string>19/6/2013</string>
		<key>artist</key>
		<string>Bill Frisell</string>
		<key>qr</key>
		<string>qrcode.png</string>
	</dict>
	<dict>
        <key>id</key>
		<integer>11</integer>
		<key>date</key>
		<string>19/6/2013</string>
		<key>artist</key>
		<string>Keyshia Cole</string>
		<key>qr</key>
		<string>qrcode.png</string>
	</dict>
	<dict>
        <key>id</key>
		<integer>12</integer>
		<key>date</key>
		<string>20/6/2013</string>
		<key>artist</key>
		<string>Chrisette Michele</string>
		<key>qr</key>
		<string>qrcode.png</string>
	</dict>
	<dict>
        <key>id</key>
		<integer>13</integer>
		<key>date</key>
		<string>20/6/2013</string>
		<key>artist</key>
		<string>Mateo</string>
		<key>qr</key>
		<string>qrcode.png</string>
	</dict>
	<dict>
        <key>id</key>
		<integer>14</integer>
		<key>date</key>
		<string>21/6/2013</string>
		<key>artist</key>
		<string>Andras Schiff</string>
		<key>qr</key>
		<string>qrcode.png</string>
	</dict>
	<dict>
        <key>id</key>
		<integer>15</integer>
		<key>date</key>
		<string>21/6/2013</string>
		<key>artist</key>
		<string>Queensryche</string>
		<key>qr</key>
		<string>qrcode.png</string>
	</dict>
	<dict>
        <key>id</key>
		<integer>16</integer>
		<key>date</key>
		<string>21/6/2013</string>
		<key>artist</key>
		<string>The Voodoos</string>
		<key>qr</key>
		<string>qrcode.png</string>
	</dict>
	<dict>
        <key>id</key>
		<integer>17</integer>
		<key>date</key>
		<string>22/6/2013</string>
		<key>artist</key>
		<string>Katchafire</string>
		<key>qr</key>
		<string>qrcode.png</string>
	</dict>
	<dict>
        <key>id</key>
		<integer>18</integer>
		<key>date</key>
		<string>22/6/2013</string>
		<key>artist</key>
		<string>Maoli</string>
		<key>qr</key>
		<string>qrcode.png</string>
	</dict>
	<dict>
        <key>id</key>
		<integer>19</integer>
		<key>date</key>
		<string>22/6/2013</string>
		<key>artist</key>
		<string>Sila</string>
		<key>qr</key>
		<string>qrcode.png</string>
	</dict>
	<dict>
        <key>id</key>
		<integer>20</integer>
		<key>date</key>
		<string>22/6/2013</string>
		<key>artist</key>
		<string>Bill Frisell</string>
		<key>qr</key>
		<string>qrcode.png</string>
	</dict>
	<dict>
        <key>id</key>
		<integer>21</integer>
		<key>date</key>
		<string>23/6/2013</string>
		<key>artist</key>
		<string>Keyshia Cole</string>
		<key>qr</key>
		<string>qrcode.png</string>
	</dict>
	<dict>
        <key>id</key>
		<integer>22</integer>
		<key>date</key>
		<string>23/6/2013</string>
		<key>artist</key>
		<string>Chrisette Michele</string>
		<key>qr</key>
		<string>qrcode.png</string>
	</dict>
	<dict>
        <key>id</key>
		<integer>23</integer>
		<key>date</key>
		<string>23/6/2013</string>
		<key>artist</key>
		<string>Mateo</string>
		<key>qr</key>
		<string>qrcode.png</string>
	</dict>
	<dict>
        <key>id</key>
		<integer>24</integer>
		<key>date</key>
		<string>23/6/2013</string>
		<key>artist</key>
		<string>Andras Schiff</string>
		<key>qr</key>
		<string>qrcode.png</string>
	</dict>
	<dict>
        <key>id</key>
		<integer>25</integer>
		<key>date</key>
		<string>24/6/2013</string>
		<key>artist</key>
		<string>Queensryche</string>
		<key>qr</key>
		<string>qrcode.png</string>
	</dict>
	<dict>
        <key>id</key>
		<integer>26</integer>
		<key>date</key>
		<string>24/6/2013</string>
		<key>artist</key>
		<string>The Voodoos</string>
		<key>qr</key>
		<string>qrcode.png</string>
	</dict>
	<dict>
        <key>id</key>
		<integer>27</integer>
		<key>date</key>
		<string>24/6/2013</string>
		<key>artist</key>
		<string>Katchafire</string>
		<key>qr</key>
		<string>qrcode.png</string>
	</dict>
	<dict>
        <key>id</key>
		<integer>28</integer>
		<key>date</key>
		<string>24/6/2013</string>
		<key>artist</key>
		<string>Maoli</string>
		<key>qr</key>
		<string>qrcode.png</string>
	</dict>
	<dict>
        <key>id</key>
		<integer>29</integer>
		<key>date</key>
		<string>25/6/2013</string>
		<key>artist</key>
		<string>Sila</string>
		<key>qr</key>
		<string>qrcode.png</string>
	</dict>
</array>
</plist>
